In [2]:
import pandas as pd
import seaborn as srn
import statistics as sts

In [26]:
dataset = pd.read_csv("tempo.csv", sep=";")

dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [27]:
dataset.shape

(14, 5)

In [28]:
agrupado = dataset.groupby(['Aparencia']).size()
agrupado

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [29]:
dataset.loc[dataset['Aparencia'] == 'menos', 'Aparencia'] = "sol"
#visualizar resultado
agrupado = dataset.groupby(['Aparencia']).size()
agrupado

Aparencia
chuva      5
nublado    3
sol        6
dtype: int64

In [30]:
dataset['Aparencia'].isnull().sum()

0

In [31]:
agrupado = dataset.groupby(['Temperatura']).size()
agrupado

Temperatura
64      1
65      1
68      1
69      1
70      1
71      1
72      1
75      2
80      1
81      1
83      1
85      1
1220    1
dtype: int64

In [32]:
dataset['Temperatura'].isnull().sum()

0

In [33]:
dataset['Temperatura'].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [34]:
dataset.loc[(dataset['Temperatura'] <  -135 )  | ( dataset['Temperatura'] >  130) ]

  Aparencia  Temperatura  Umidade  Vento Jogar
7       sol         1220     95.0  FALSO   nao

In [35]:
#calular a mediana
mediana = sts.median(dataset['Temperatura'])
mediana

73.5

In [36]:
dataset.loc[(dataset['Temperatura'] <  -135 )  | ( dataset['Temperatura'] >  130), 'Temperatura'] = mediana

C:\Users\vinic\AppData\Local\Temp\ipykernel_7872\1081601552.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '73.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataset.loc[(dataset['Temperatura'] <  -135 )  | ( dataset['Temperatura'] >  130), 'Temperatura'] = mediana

In [37]:
#verificamos se ainda existem idades fora do domínio
dataset.loc[(dataset['Temperatura'] <  -135 )  | ( dataset['Temperatura'] >  130) ]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [38]:
agrupado = dataset.groupby(['Temperatura']).size()
agrupado

Temperatura
64.0    1
65.0    1
68.0    1
69.0    1
70.0    1
71.0    1
72.0    1
73.5    1
75.0    2
80.0    1
81.0    1
83.0    1
85.0    1
dtype: int64

In [39]:
agrupado = dataset.groupby(['Umidade']).size()
agrupado

Umidade
65.0     1
70.0     3
75.0     1
80.0     1
85.0     1
86.0     1
90.0     2
91.0     1
95.0     1
200.0    1
dtype: int64

In [40]:
#calular a mediana
mediana = sts.median(dataset['Umidade'])
mediana

85.5

In [41]:
dataset.loc[(dataset['Umidade'] <=  0)  | ( dataset['Umidade'] >=  100), 'Umidade'] = mediana

In [42]:
agrupado = dataset.groupby(['Umidade']).size()
agrupado

Umidade
65.0    1
70.0    3
75.0    1
80.0    1
85.0    1
85.5    1
86.0    1
90.0    2
91.0    1
95.0    1
dtype: int64

In [43]:
dataset['Umidade'].isnull().sum()

1

In [44]:
dataset['Umidade'].fillna(mediana, inplace=True)

In [45]:
dataset['Umidade'].isnull().sum()

0

In [47]:
agrupado = dataset.groupby(['Vento']).size()
agrupado

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [48]:
dataset['Vento'].isnull().sum()

1

In [49]:
dataset['Vento'].fillna('FALSO', inplace=True)

In [50]:
dataset['Vento'].isnull().sum()

0

In [51]:
agrupado = dataset.groupby(['Vento']).size()
agrupado

Vento
FALSO         8
VERDADEIRO    6
dtype: int64

In [56]:
agrupado = dataset.groupby(['Jogar']).size()
agrupado

Jogar
nao    5
sim    9
dtype: int64

In [57]:
dataset['Jogar'].describe()

count      14
unique      2
top       sim
freq        9
Name: Jogar, dtype: object

In [58]:
dataset['Jogar'].isnull().sum()

0

In [60]:
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol         85.0     85.0       FALSO   nao
1       sol         80.0     90.0  VERDADEIRO   nao
2   nublado         83.0     86.0       FALSO   sim
3     chuva         70.0     85.5       FALSO   sim
4     chuva         68.0     80.0       FALSO   sim

In [61]:
dataset.shape

(14, 5)